<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Image Upload
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3 *ngIf="!images.length" class="ion-text-center">You have not taken any photos yet!</h3>

  <ion-list>
    <ion-item *ngFor="let img of images" class="ion-text-wrap">
      <ion-thumbnail slot="start">
        <ion-img [src]="img.urlPath"></ion-img>
      </ion-thumbnail>
      <ion-label>
        {{ img.name }}
      </ion-label>
      <ion-button slot="end" fill="clear" (click)="uploadImage(img)">
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear" (click)="deleteImage(img)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button fill="clear" expand="full" color="light" (click)="takePhoto()">
      <ion-icon slot="start" name="camera"></ion-icon>
      Select Image</ion-button
    >
  </ion-toolbar>
</ion-footer>
